.contactFormWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
}

.contactFormWrapperField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactForm {
  margin: 0 auto;
  border-radius: 8px;
  padding: 16px;
  width: 320px;
  background-color: rgb(48, 46, 46);
  border: 1px solid black;
  color: white; /* Додано, щоб текст був видимий на темному фоні */
}

.contactForm input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contactForm input:focus {
  outline: none;
  border-color: #c57314;
}

.contactFormBtn {
  border-radius: 8px;
  padding: 6px 12px;
  min-width: 150px;
  height: 40px;
  background: #c57314;
  border: none;
  color: whitesmoke;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.contactFormBtn:hover {
  background: #915700;
}
