/**/
.formWrapper {
  border: 3px solid blue;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formWrapperField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formBtn {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.formBtn:hover {
  background-color: darkgray;
}

.formBtn:active {
  background-color: black;
}
